!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EvolvingWordbook
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__name
        Evolving Wlrd Book
      .header__users
        .header__users__login
          = link_to "", class: "header__users__login--link" do
            ログイン
        .header__users__new
          = link_to "", class: "header__users__new--link" do
            新規登録
    = yield
