!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EvolvingWordbook
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .header
      .header__name
        =link_to root_path, class: "header__name--link" do
          Evolving Wlrd Book
      
      .header__users
        - if user_signed_in?
          .header__users__login
            .header__users__login--link
              = current_user.name
          .header__users__new
            = link_to destroy_user_session_path, method: :delete, class: "header__users__new--link" do
              ログアウト
        - else
          .header__users__login
            = link_to new_user_session_path, class: "header__users__login--link" do
              ログイン
          .header__users__new
            = link_to new_user_registration_path, class: "header__users__new--link" do
              新規登録
    = yield
